@import url(./assets/css/reset.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

/* Common */
a {
  text-decoration: none;
}

/* Trong trường hợp không muốn input=text bị đổi sang màu xanh */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: all 5000s ease-in-out 0s;
  transition-property: background-color, color;
} */

