@import url(./assets/css/reset.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

/* Common */
a {
  text-decoration: none;
}
